@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font: 'Source Sans Pro';

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main {
  padding: 0;
  margin: 0;
}

// top menu
.top-menu {
  height: 40px;
  width: 100%;
  padding: 25px;
  font-family: @font;
}

.menu-box {
  width: 400px;
}

// dropdown
.Dropdown-control {
  height: 35px;
}

.Dropdown-menu {
  max-height: 90vh;

  .Dropdown-group > .Dropdown-title {
    font-weight: 900;
    color: #000;
    text-decoration: underline;
    text-transform: none;
  }
}

.Dropdown-option {
  padding-left: 20px;
}

// home
.home-container {
  font-family: @font;
  line-height: 1.4;
  letter-spacing: 0.02em;
  font-weight: 200;
  padding: 30px;
  border-top: 1px solid #ccc;


  .home-footer {
    position: absolute;
    bottom: 20px;
    left: 20px;

    span {
      font-size: 18px;
    }
  }
}
