.chained-transitions {
  max-width: 500px;
  margin: auto;

  div {
    width: 10px;
    height: 10px;
    margin: 1px 0 0 1px;
    float: left;
    background: #eee;
    display: inline-block;
  }
}

.bilevel-partition {
  circle,
  path {
    cursor: pointer;
  }

  circle {
    fill: none;
    pointer-events: all;
  }
}
